header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0068ff;
    border-bottom: 10px solid #1e212b;
    padding: 10px 20px;
}

h1 {
    font-family: "Press Start 2P", sans-serif;
    font-size: 32px;
    color: white;
    text-shadow: 5px 5px 0px #1e212b
}

nav {
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    color: #FFF;
    font-size: 20px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before {
    content: "";
    background-color: #00ff91;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

#button {
    display: inline-block;
    color: #1e212b;
    background-color: #00ff91;
    box-shadow: 5px 5px 0px #1e212b;
    padding: 18px 20px;
    margin-right: 0;
    transition: transform 100ms linear;
}

#button:hover {
    transform: scale(1.08);
}